.menu{
    position: fixed;
    left: 6px;
    top: 45px;
    padding: 15px;
    z-index: 10;
    pointer-events: painted;
    display: none;
    
 }
 
 .menu-item{
    width: 32px;
    height: 32px;
 }
 
 .menu:hover{
   background-color: rgba(128, 128, 128, 0.162);
}

 .cross{
    position: fixed;
    z-index: 100;
    padding: 15px;
    top: 32px;
    left: 320px;
    pointer-events: painted;
    display: none;
 }
 
 .cross:hover{
    background-color: rgba(128, 128, 128, 0.162);
 }
 
 
 .cross-menu{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
 }
 
 .arrow-up{
   position: fixed;
   left: 5px;
   top: 75%;
   z-index: 10;
   pointer-events: painted;
   padding: 10px 0;
   background-color: rgba(128, 128, 128, 0.144);
   border-radius: 15px;
 }
 
 .arrow-up-item{
    transform: rotate(90deg);
    opacity: 0.3;
 }


/* Active menu */

.active{
   background-color: rgba(0, 0, 0, 0.711);
   pointer-events: none;
}

.opacity-active {
   opacity: 0.2;
   pointer-events: none;
}

.cross-active{
   display: block;
}
