.header{
    position: fixed;
    z-index: 1000;
    top: 0;

    max-width: inherit;
    width: inherit;
    padding-left: 315px;
    padding-right: 30px;
    background-color: rgb(223, 193, 193);
    display: flex;   
    text-align: center;
    
    
}
.header-menu-left-list, .header-menu-rigth-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin: 0;
}

.header-menu-left-list-item{
    display: block;
    margin-right: 15px;
}


.header a{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
   
}

.header-menu-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.header-menu-left{
    width: 60%;
}

