.sitebar{
    width: 300px;
    height: 100vh;
    background-color: #ccc;
    position: fixed;
    top: 0;
    z-index: 1000;
    

}

.sitebar-main{
    padding-top: 30px;
    background-color: #bbb;
}

.sitebar-main-photo{

    
    width: 260px;
    height: 260px;
    background-color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sitebar-main-photo-item{
    width: 250px;
    height: 250px;
}

.sitebar-main-text{
   display: flex;
   align-items: center;
   flex-direction: column
}

.sitebar-main-title-item{
    margin-top: 10px;
    font-size: 30px;
    line-height: 38px;
    max-width: 200px;
    text-transform: uppercase;
    text-align: center;
}

.sitebar-main-text-item{
    margin-top: 10px;
    text-transform: uppercase;    
    padding: 5px;
    
    border: 1px solid rgb(155, 152, 152);
    background-color: rgb(209, 207, 207);
    margin-bottom: 50px;
}