.sitebar{
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 1000;
    

}

.sitebar-main{
    padding-top: 30px;
    background-color: #bcbcbe;
}

.sitebar-main-photo{

    
    width: 260px;
    height: 260px;
    background-color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sitebar-main-photo-item{
    width: 250px;
    height: 250px;
}

.sitebar-main-text{
   display: flex;
   align-items: center;
   flex-direction: column
}

.sitebar-main-title-item{
    margin-top: 10px;
    font-size: 30px;
    line-height: 38px;
    max-width: 200px;
    text-transform: uppercase;
    text-align: center;
}

.sitebar-main-text-item{
    margin-top: 10px;
    text-transform: uppercase;    
    padding: 5px;
    
    border: 1px solid rgb(155, 152, 152);
    background-color: rgb(209, 207, 207);
    margin-bottom: 50px;
}
/* sitebar Skills */

.sitebar-skills{
    background-color: #1f476b;
    color: white;
    position: relative;

    padding: 0 20px;
    padding-bottom: 20px;
}

.sitebar-skills-title{
    max-width: 160px;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 20px;
    background-color:#1f476b;
    position: relative;
    top: -15px;
}

.sitebar-skills-title-item{
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 22px;
}

.skills-box-primary{
    display: flex;
    justify-content: space-between;
    
}

.skills-box-secondary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-box-list{
    padding: 0 10px;
}

.skills-box-item{
    margin-bottom: 10px;
    
}

.skills-box-image{
    width: 50px;
    height: 50px;
}

/* SKILLS LEVEL */

.skills-box-level-item{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border:1px solid white;
    margin-bottom: 20px;
}

.skills-box-level{
    display: flex;
    justify-content: space-between;
}

/* SKILLS LEVEL CIRCLES*/

.skills-level-html .skills-box-level-item:nth-child(-n+3){
    background-color: white;
}
.skills-level-css .skills-box-level-item:nth-child(-n+3){
    background-color: white;
}
.skills-level-java_script .skills-box-level-item:nth-child(-n+1){
    background-color: white;
}
/* .skills-level-react .skills-box-level-item:nth-child(-n+1){
    background-color: white;
}
.skills-level-node .skills-box-level-item:nth-child(-n+1){
    background-color: white;
}
.skills-level-angular .skills-box-level-item:nth-child(-n+1){
    background-color: white;
}
.skills-level-vue .skills-box-level-item:nth-child(-n+1){
    background-color: white;
}
.skills-level-mysql .skills-box-level-item:nth-child(-n+1){
    background-color: white;
} */


/* sitebar interest */


.sitebar-hobbies{
    background-color: #3375a9;
    color: #081a37;
    padding: 0 40px 20px 40px;
}

.sitebar-hobbies-title{
    max-width: 160px;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #3375a9;
    position: relative;
    top: -15px;
}

.sitebar-hobbies-title-item{
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 22px;
}

.hobbies-list-item-img{
    width: 40px;
    height: 40px;
}

.hobbies-list-item-img-music{
    width: 35px;
    height: 35px;
}

.hobbies-list-item{
    margin-bottom: 20px;
}

.sitebar-hobbies-box-list{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hobbies-list-item-all{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hobbies-list-item-all-img{
    width: 64px;
    height: 64px;
}

/* Sitebar contact */

.sitebar-contact{
    background-color: #4499b9;
    color: #000;
    padding: 0 40px 20px 40px;
}

.sitebar-contact-title{
    max-width: 160px;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #4499b9;
    position: relative;
    top: -15px;
}

.sitebar-contact-title-item{
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
}


.sitebar-contact-info{
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.sitebar-contact-location-backgraund{
    width: 26px;
    height: 24px;
    background-image: url(../../images/contacts-icon/contacts-location.png);
    background-size: cover;
}

.sitebar-contact-phone-backgraund{
    width: 24px;
    height: 24px;
    background-image: url(../../images/contacts-icon/contacts-phone.png);
    background-size: cover;
}

.sitebar-contact-email-backgraund{
    width: 24px;
    height: 24px;
    background-image: url(../../images/contacts-icon/contacts-email.png);
    background-size: cover;
}
.sitebar-contact-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitebar-contact-list-item:not(:last-child){
    margin-bottom: 10px;
}

.sitebar-contact-phone-item{
    display: block;
    color: inherit;
}

.sitebar-contact-info-list{
    padding: 0;
    margin: 0;
}

/* Social */

.sitebar-contact-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sitebar-contact-social-item{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.sitebar-contact-social-item-telegram{
    width: 47px;
    height: 47px;   
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.sitebar-contact-social-item-telegram:hover ,.sitebar-contact-social-item-instagram:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.sitebar-contact-social-item-instagram{
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}

/* button */

.sitebar-contact-social-button-item{
    display: block;
    width: 100px;
    background-color: #000;
    color: #4499b9;
    line-height: 50px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
}

.sitebar-contact-social-button-item:hover{
    transform: rotateZ(10deg);
    opacity: 0.8;
}