body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: rgba(155, 215, 218, 0.2);
  }
  *{
    box-sizing: border-box;
    border: 0 none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  a,
  div,
  p,
  span,
  input,
  button,
  form {
    box-sizing: border-box;
    border: 0 none;
  }
  
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  ul,li {
    margin: 0;
    padding: 0;
  }
  
  .container{
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
  }
  
  

.hero-section{
    padding-left: 300px;
    padding-top: 55px;
    align-items: center;
    
}
