/* @media */

@media screen and (max-width: 1125px) {
    .sitebar-active{
        transform: translateX(-100%);
    }
    .footer-sitbar{
        display: none;
    }
    .footer-hero{
        width: 100%;
    }
    .menu{
        display: block;
    }

    .hero-section-info-portfolio-box{
        padding-left: 70px;
        padding-bottom: 26px;
    }
    .hero-section{
        padding-left: 55px;
    }
    .header{
        padding-left: 45px;
        position: relative;
    }

  }
