/* @media */

@media screen and (max-width: 1125px) {
    .sitebar-active{
        transform: translateX(-100%);
    }
    .footer-sitbar{
        display: none;
    }
    .footer-hero{
        width: 100%;
    }
    .menu{
        display: block;
    }

    .hero-section-info-portfolio-box{
        padding-left: 70px;
        padding-bottom: 26px;
    }
    .hero-section{
        padding-left: 45px;
        padding-top: 10px;
    }
    .header{
        padding-left: 45px;
        position: relative;
    }

    .header-menu-rigth-list .header-menu-left-list-item:first-child{
        display: none;
    }

    .arrow-up{
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .header{
        padding-left: 25px;
    }
    
   .portfolio-sub-box{
       left: 15px;
   }
}

@media screen and (max-width: 875px) {
    
   .portfolio-main-box{
       position: relative;
       left: -25px;
   }
   
    .portfolio-sub-box{
       left: -35px;
   }

   .portfolio-box-arrow{
       position: relative;
       left: -20px;
   }
}
@media screen and (max-width: 806px) {
    .header a{
        line-height: 15px;
    }

    .portfolio-sub-box{
        left: -60px;
    }
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 20px;
    }

    .education-list-item-title{
        text-align: left;
    }

   .portfolio-box-item-image{
       display: none;
   }

   .portfolio-sub-box{
       visibility: visible;
       opacity: 1   ;
   }

   .portfolio-box-arrow, .box-arrow_left{
       display: none;
    
   }

   .portfolio-box{
       display: block;
   }

   .portfolio-box-item:not(:last-child){
       margin: 0;
       padding-bottom: 10px;
   }

   /* Portfolio */

   .hero-section-info-portfolio-box{
       display: flex;
       justify-content: center;
       padding: 0;
       left: -20px;
       padding-bottom: 20px;
   }

   .portfolio-sub-box{
       position: relative;
       top: 0;
       left: 0  ;
   }
}

@media screen and (max-width: 560px) {
    .header-menu-right{
        display: none;
    }

    .hero-section {
        padding-left: 35px;
        padding-top: 7px;
    }
}


@media screen and (max-width: 470px) {
    h2{
        font-size: 16px;
    }

    .hero-section-info-portfolio-box{
        left: 0%;
    }

    .cross{
        left: 295px;
    }

    .header a{
        font-size: 13px;
    }

    .header{
        padding-left: 10px;
    }

}



@media screen and (max-width: 360px) {
    h2{
        font-size: 14px;
    }

    .hero-section-info-portfolio-box{
        left: 12px;
    }

    .hero-section{
        padding-left: 15px;
    }

    .menu{
        left: -10px;
    }

    .cross{
        left: 270px;
    }

    .education-list-item-box, .hero-section-info-about_me,.education-list-item-text, .hero-section-info-work-list-item{
        font-size: 14px;
    }

    .header a{
        font-size: 12px;
    }
    .header-menu-left-list-item:not(:last-child) {
        margin-right: 10px;
    }
}

